.btn {
    margin-top: 20px;
}
.collapse{
    margin-left: 80%;
}
body{
    background: rgb(185, 247, 208);
}
.btn-primary{
    background: rgb(185, 247, 208);
    border-color: rgb(0, 0, 0);
    color: black;
}
.btn-primary:hover{
    background: rgb(81, 145, 81);
}
.animal-title{
    padding-bottom: 20px;
}